
<h1 class="h1">
    
    
    
    Add new Book to Store</h1><br><br>

    <body bgcolor="aqua">

        <form align="center">
            
            <b> Enter Book id:-</b>

            <input type="text" name="bid"><br><br>

            <b> Enter Book name:-</b>

            <input type="text" name="bname"><br><br>

            <b> Language:-</b>

            <input type="text" name="lang"><br><br>

            <b> Publication:-</b>

            <input type="text" name="pub"><br><br>


            <b> Enter Book Price:-</b>

            <input type="text" name="bprice"><br><br>

            <b> Enter Author name-</b>

            <input type="text" name="auth"><br><br>

            <b> No of Pages:-</b>

            <input type="text" name="pages"><br><br>

            <b>Book Category:-</b>

            <select>
                <option>Educational</option>
                <option>Biography</option>
                <option>Autobiography</option>
                <option>Literature</option>

                    </select><br><br><br>

                    <input type="submit"value="Add"> &nbsp; &nbsp; &nbsp;
                    <input type="button"value="Close" >





        </form>




    </body>
