<style>


  .h1
  {
    text-align: center;
  }
  .div1
  {
    height: 50px;
    width: 100%;
    border: solid black;
  }

  .div2
  {
    height: 700px;
    width: 22%;
    border: solid black;
  }
</style>


  <body>

  <h1 class="h1">

    Ramakrishna Book Store</h1><br>
    <marquee>

    Welcome to Ramakrishna Book Store

    </marquee>

     <div class="div1" >
      <a href="./register">Register</a>&nbsp; &nbsp;&nbsp;&nbsp;
      <a href="/login">Login</a>&nbsp; &nbsp;&nbsp;&nbsp;
      <a href="/admin">Admin Dashboard</a>
      
      
      


     </div>

<div class="div2">
<img src="../assets/Images/sachin.jpeg" ><br><br>

<b> Book name:- Playing it My Way</b><br>
<b> Book price:- RS 455</b><br>
<b> pages:- 496</b><br>
<b> Auther:- Sachin Tendulkar</b><br>
<b> Category:- Auto-Biography</b><br>
<b> Publications:-Hodder & Stoughton</b><br><br>
<input type="button"value="Add to Cart"> &nbsp;&nbsp;&nbsp;
<input type="button"value="Buy">











</div> &nbsp;&nbsp;

<div class="div2">

  <img src="../assets/Images/sourav.jpeg" ><br><br>

<b> Book name:- Century is Not Enough</b><br>
<b> Book price:- RS 421</b><br>
<b> pages:-296 </b><br>
<b> Auther:- Sourav Ganguly</b><br>
<b> Category:- Auto-Biography</b><br>
<b> publications- Juggernaut Publication</b><br><br>

<input type="button"value="Add to Cart"> &nbsp;&nbsp;&nbsp;
<input type="button"value="Buy">



</div>



<div class="div2">

  <img src="../assets/Images/vvs.jpeg" ><br><br>

<b> Book name:- 281 and Beyond</b><br>
<b> Book price:- RS 478</b><br>
<b> pages:-360 </b><br>
<b> Auther:- VVS Laxman</b><br>
<b> Category:- Auto-Biography</b><br>
<b>
Publications: Westland Publications Limited</b><br><br>
<input type="button"value="Add to Cart"> &nbsp;&nbsp;&nbsp;
<input type="button"value="Buy">

</div>

  </body>


     <router-outlet></router-outlet>


     
     