<h1 class="h1">

    Delete Book From Store<br><br>
</h1>
<form align="center">

    <b>
        Enter Book id:-
    </b>
    <input type="text" name="bid"><br><br>


    <b>
        Enter Book Name:-
    </b>
    <input type="text" name="bid"><br><br>


    <b>
        Enter Book Name:-
    </b>
    <input type="text" name="bid"><br><br>

    <b>Enter Book Catagory</b>

    <select>
        <option>Educational</option>
        <option>Biography</option>
        <option>Auto-Biography</option>

    </select><br><br>

    <input type="submit" value="Delete Book"> &nbsp;&nbsp;&nbsp;
    <input type="button" value="close"> &nbsp;&nbsp;&nbsp;



</form>