
<h1 class="h1">
    Login Here
</h1><br><br>



<form align="center">
        <b>Enter User Name</b> &nbsp;
        <input type="text"placeholder="Enter user name"><br><br>


        <b>Enter Password</b> &nbsp;
        <input type="password"placeholder="Enter Password"><br><br>

        <b>User Type</b>&nbsp;

        <select>
            <option>Admin</option>
            <option>Customer</option>

        </select><br><br><br><br>

        <input type="button" value="Login">&nbsp;&nbsp;
        <input type="reset" value="Clear">
        



    </form>
