<h1 class="h1">Register Here</h1>



<body>
   <br>
   <br>
<form align="center">



    <b> User Name</b> &nbsp;  <input type="text" name="uname"><br><br>
     <b> Email id</b>   &nbsp; <input type="text" name="Email"><br><br>
     <b> password</b>  &nbsp;  <input type="password" name="pass"><br><br>
     <b>Contact</b>   &nbsp; <input type="text" name="Contact"><br><br>
     <b>Address</b>    &nbsp;  <textarea rows="5" cols="30"> </textarea><br><br>
            <b>User Type</b> &nbsp;

     <select>

        <option>Admin</option>
        <option>Customer</option>
     </select><br><br><br><br>
     <input type="button" value="submit"name="submit"> &nbsp;
     <input type="reset" value="clear"name="reset">


    
</form>




</body>


